<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<%
//Debug
//console.log(JSON.stringify(data));
%>
<ul>
    <%
    for(var i=0; i<data.length; i++) {
        var post = data[i];
    %>
    <li>
            <h2><%= post.heading  %> </h2>
            <div><%- JSON.stringify(post) -%></div>
            <% if(post.type == "picture"){
            %>
                <img src="<%=post.imgUrl%>" />
            <%}%>
        </li>
    <% } %>
</ul>
</body>
</html>
