.responsive-nav{
    display: none;
    position: relative;
    z-index: 600;

}
._nav { width:100%; background-color: #000; border-bottom: 1px solid #ccc; }
ul.nav-menu { list-style: none; padding: 0; margin: 0; font-weight: bold; text-align: left; }
ul.nav-menu li { display: inline-block; text-align: left; }
ul.nav-menu li a { display: block; padding: 15px 10px; text-decoration: none; color: #E5E5E5; }
ul.nav-menu li a:hover { background-color: #ccc; }
.menu-wrapper {
    position:fixed;
    height:100%;
    width:100%;
    background-color:#222;
    top:0;
    left:0;
    z-index: 500;
}
.menu-wrapper li {
    display: block !important;
}
.menu-wrapper li:first-child {
    margin-top: 50px;
}
.menu-wrapper li a{
    width: 100%;
    text-align: center;
}
@media only screen and (max-width: 960px) {
    #main-nav {
        display: none;
    }
    .responsive-nav{
        display: block;
    }
}
.bar {
    display:block;
    width:15px;
    padding:2px;
    margin:2px;
    border-radius:2px;
    background-color:#444;
}
